<%= will_paginate @posts %>
<div class="spacer"></div>
<div>
  <% for post in @posts -%>
    <div class="view_listing"><h4>
    	<%= raw title0_for_listing(post)%><%= title3_for_listing(post)%><br />
    	<% title1 = raw(title1_for_listing(post)) %>
        <% unless title1.blank? %>
            <%=title1 %><br />
    	<% end %>

        <% title2 = title2_for_listing(post) %>
        <% unless title2.blank? %>
            <%= title2 %><br />
        <% end %>

        <% title5 = title5_for_listing(post) %>
        <% unless title5.blank? %>
    	   <%= raw title5_for_listing(post)%><br />
        <% end %>

        <% title4 = title4_for_listing(post) %>
        <% unless title4.blank? %>
            	<%= title4_for_listing(post)%><br />
    	<% end %>

        <% days = days_to_readable(post)%>
        <% unless days.blank? %>
            <%= days %><br />
    	<% end %>

        <%= link_to "see full info", examine_listing_path(:id => post.id) %>
    	</h4></div>
  <% end -%>
</div>
<div class="spacer"></div>
<%= will_paginate @posts %>