This feature is still being developed. Please check back soon!

<%= form_tag("/search_listing", :method => "post") do %>
	<div class="text_field_label"><span class="bold">Server*:</span></div></br>
	<div class="radio_input">
		<% ["NA", "EUWE","EUNE"].each do |v| %>
		<% checked = (@post.server==v) ? true : false %>
		<div class="radio_spacer"><%= radio_button_tag(:server, v.downcase, checked) %>
		<%= label_tag(v.downcase, v) %></div>
		<% end %>
	</div>

	<div class="spacer"></div>

	<div class="text_field_label"><span class="bold">Looking for Game Type: </span></div></br>
	<div class="radio_input">
		<% gt_hash = {:sr=> "Summoner's Rift", :tt=> "Twisted Treeline", :dom=>"Dominion"} %>
	    <%[:sr, :tt, :dom].each do |k| %>
	    	<% checked = @post.game_type.include?(k.to_s) ? true : false %>
	    	<div class="radio_spacer"><%= check_box_tag(k, "1" , checked) %>
			<%= label_tag(k, gt_hash[k]) %></div>
	    <% end %>
	</div>
	<div class="text_field_detail">(leave all choices blank to show all game types)</div>

	<div class="spacer"></div>

	<div class="text_field_label"><span class="bold">Looking for Group Type: </span></div></br>
	<div class="radio_input">
		<% gt_hash = {:duoq=>"Duo Queue Partner", :normals=>"Normals", :team=>"Team"}%>
		<% [:duoq, :normals, :team].each do |k| %>
		<% checked = @post.group_type.include?(k.to_s) ? true : false %>
		<div class="radio_spacer"><%= check_box_tag(k, "1", checked) %>
		<%= label_tag(k, gt_hash[k]) %></div>
	    <% end %>
	</div>
	<div class="text_field_detail">(leave all choices blank to show all group types)</div>

	<div class="spacer"></div>

	<div class="text_field">
	  	<div class="text_field_label"><%= label_tag(:summoner, "Summoner:") %></div>
	  	<div class="text_field_input"><%= text_field_tag(:summoner, @post.summoner) %></div>
	  	<div class="text_field_detail">(partial text searches allowed for text fields)</div>
	</div>
	<div class="text_field">
	  	<div class="text_field_label"><%= label_tag(:reddit, "Reddit Name:") %></div>
	  	<div class="text_field_input"><%= text_field_tag(:reddit, @post.reddit) %></div>
	</div>
	<div class="text_field">
	  	<div class="text_field_label"><%= label_tag(:elo, "Elo:") %></div>
	  	<div class="text_field_input"><%= text_field_tag(:elo, @post.elo) %></div>
	</div>







   <div class="text_field">
    	<%= submit_tag("Search") %>
   </div>
<% end %>